@import './lib/scss/variables.scss';
@import './lib/scss/fonts.scss';

body {
	scroll-behavior: smooth;

	/* safari viewport bug fix */
	min-height: -webkit-fill-available;
	background-color: var(--color-neutral--900);
	color: var(--color-neutral--100);
	font-family: var(--font-family);
	font-weight: normal;
	min-height: 400vh;
}

main,
.footer nav,
nav.main-navigation {
	max-width: var(--page-width);
	width: 100vw;
	margin: 0 auto;
	padding-left: var(--spacing-03);
	padding-right: var(--spacing-03);
}

@media (max-width: 667px) {
	main,
	.footer nav,
	nav.main-navigation {
		grid-template-columns: repeat(2, 1fr);
	}
}

main {
	margin-top: var(--spacing-10);
}

h2 {
	font-size: var(--font-size--normal);
}

h3 {
	font-weight: bold;
	font-size: inherit;
	line-height: inherit;
}

html {
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	quotes: '“' '”';
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

::selection {
	background: var(--color-accent--on-dark--blue--opaque);
	// color: var(--color-accent--on-dark--blue--opaque);
}

.no-select {
	user-select: none;
	/* cursor: default; */
}

.blur {
	background-color: var(--color-background-blurred);
	backdrop-filter: saturate(180%) blur(20px);
}

.text--huge {
	font-weight: bold;
	font-size: var(--font-size--huge);
	line-height: var(--font-size--huge);
}

.fading.hidden,
.hidden {
	opacity: 0;
	filter: blur(var(--blur-radius--medium));
	transform: translateY(var(--spacing-11));
	transition: opacity 800ms var(--easing--quint), transform 1200ms var(--easing--in-quint),
		filter 800ms var(--easing--quint);
}
.fading {
	opacity: 1;
	filter: blur(0px);
	transform: none;
	transition: opacity 800ms var(--easing--quint), transform 1200ms var(--easing--out-quint),
		filter 1200ms var(--easing--quint);
}
